<p><a href='https://localhost:9494/auth/facebook'>Login with Facebook</a><br></p>
<p><a href='https://localhost:9494/auth/google_oauth2'>Login with Google</a><br></p>
<p><a href='https://localhost:9494/newgame'>Continue without logging in</a><br></p>