<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="<%= url("styles.css") %>">
  <title>Tic Tac Toe</title>
  </head>
  <body>
   <%= yield %>
  </body>
</html>