<p> Choose Difficulty </p>
<form method="post" action="startgame">
<input type="radio" name="difficulty" value="easy">
<label>Easy</label>
<input type="radio" name="difficulty" value="hard">
<label>Hard</label>
<input type="submit" value="Submit">
</form>