<div class='settings'>
<img src='<%= session[:profile_picture] %>'>
<% if session[:authenticated] %>
<h1>Welcome, <%= session[:name] %>!</h1>
<% else %>
<h1>Welcome, Player One!</h1>
<% end %>
<p> Choose Difficulty </p>
<form method="post" action="startgame">
<input type="radio" name="difficulty" value="easy" checked>
<label>Easy</label>
<input type="radio" name="difficulty" value="hard">
<label>Hard</label>
<input type="radio" name="gridsize" value="3" checked>
<label>3x3</label>
<input type="radio" name="gridsize" value="4">
<label>4x4</label>
<input type="submit" value="Submit">
</form>
<button id="highscoresbtn">Highscores</button>
</div>




<div id="highscoresmodal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Highscores</h2>
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3>By Grant Runyon</h3>
    </div>
  </div>

</div>

<script>
var modal = document.getElementById('highscoresmodal');
var btn = document.getElementById("highscoresbtn");
var span = document.getElementsByClassName("close")[0];
 
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
